<h1>Bills</h1>
<% if logged_in? %>
<a href="/bills/new">Add bill</a>
	<table>
		<tr>
			<th>Company</th>
			<th>Amount</th>
			<th>Due Date</th>
			<th>Paid?</th>
		</tr>
		<tr>
			<% @bills.each do |b| %>
			<td><%= b.company_name %></td>
			<td><%= b.amount %></td>
			<td><%= b.due_date %></td>
			<td><%= b.paid %></td>
			<td><a href="/bills/<%= b.id %>/edit">Edit</a> / <a href="/bills/<%= b.id %>/delete">Delete</a></td>
			<% end %>
		</tr>
	</table>
<% else %>
<p>Please <a href="/login">Login</a> to view your bills.</p>
<% end %>